<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780810782870-2foaeqg6fb5j2s16p7ffhqas6iov9rf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780810782870-2foaeqg6fb5j2s16p7ffhqas6iov9rf3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>780810782870-6gvqhdmofrffjtu9lbia8g8dta0aoafu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCw6bi7dmX2XWaOWocDqZoFDISZnQEhKJA</string>
	<key>GCM_SENDER_ID</key>
	<string>780810782870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rijan.goExtraMile</string>
	<key>PROJECT_ID</key>
	<string>gem-prod-91ada</string>
	<key>STORAGE_BUCKET</key>
	<string>gem-prod-91ada.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780810782870:ios:6596c7b226bf6151471ab7</string>
</dict>
</plist>